---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Conheça nossa Comunidade</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10">
    <a href="https://discord.gg/DKrMWD5K" target="_blank">
      <Icon class="h-8 md:h-12" name="simple-icons:discord" />
    </a>
  </div>
</div>
